<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="StConection" connectionString="Data Source=LAPTOP-1VR1PRR2\SQLOMARIN;Initial Catalog=CARTAV;Persist Security Info=True;User ID=sa;Password=O1p5r1r2b3"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>